{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .hero_single.version_2:before {
            background: url(../img/mariya.jpg) center center no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <section class="hero_single version_2">
        <div class="wrapper">
            <div class="container">
                <h3>Book unique experiences</h3>
                <p>Expolore top rated tours, hotels and restaurants around the world</p>
                <form>
                    <div class="row no-gutters custom-search-input-2">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Hotel, City...">
                                <i class="icon_pin_alt"></i>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" name="dates" placeholder="When..">
                                <i class="icon_calendar"></i>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel-dropdown">
                                <a href="#">Guests <span class="qtyTotal">1</span></a>
                                <div class="panel-dropdown-content">
                                    <!-- Quantity Buttons -->
                                    <div class="qtyButtons">
                                        <label>Adults</label>
                                        <input type="text" name="qtyInput" value="1">
                                    </div>
                                    <div class="qtyButtons">
                                        <label>Childrens</label>
                                        <input type="text" name="qtyInput" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" class="btn_search" value="Search">
                        </div>
                    </div>
                    <!-- /row -->
                </form>
            </div>
        </div>
    </section>
    <!-- /hero_single -->

    <div class="container container-custom margin_80_0">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Our Popular Tours</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div id="reccomended" class="owl-carousel owl-theme">
            {% for voy in arrvoy %}

            <div class="item" >
                <div class="box_grid">
                    <figure>
                        <a href="#0" class="wish_bt"></a>

                        <a href="{{ path('reservation_newvoy',{'voy_id':voy.id}) }}">

                            <img src="{{ asset('picture/')~ voy.image }}"class="img-fluid" alt="" width="800" height="533">
                            <div class="read_more"><span>Read more</span></div></a>
                        <small>Historic</small>
                    </figure>
                    <div class="wrapper">
                        <h3>{{ voy.nom }}</h3>
                        <p>{{ voy.description }}</p>
                        <span class="price">à partir de <strong>{{ voy.prix_personne }}</strong> /per person</span>
                    </div>
                    <ul>
                        <li><i class="icon_clock_alt"></i> 1h 30min</li>
                        <li><div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div></li>
                    </ul>
                </div>
            </div>

            {% endfor %}
            <!-- /item -->

        </div>
        <!-- /carousel -->
        <hr class="large">
    </div>
    <!-- /container -->
        <!-- /grid_item -->
    <div class="container container-custom margin_30_95">
        <section class="add_bottom_45">
            <div class="main_title_3">
                <span><em></em></span>
                <h2>Popular Hotels and Accommodations</h2>
            </div>
            <div class="row">
            {% set value = 0 %}
            {% for hotel in hotels %}

                {% if value==0 %}
                    {% set value = value + 1 %}
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="{{ path('reservation_newhotel',{'hotel_id':1}) }}" class="grid_item">
                        <figure>
                            <div class="score"><strong></strong></div>
                            <img src="{{ asset('picture/' ~ hotel.image) }}" width="130" height="130">
                            <div class="info">
                                <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>


                                <a href="{{ path('reservation_newhotel',{'hotel_id':1}) }}">
                                    <h3>{{ hotel.name }}</h3>
                                </a>
                            </div>
                        </figure>
                    </a>
                </div>
                {% elseif value==1 %}
                    {% set value = value + 1 %}
                <!-- /grid_item -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="hotel-detail.html" class="grid_item">
                        <figure>
                            <div class="score"><strong></strong></div>
                            <img src="{{ asset('picture/' ~ hotel.image) }}" width="130" height="130">
                            <div class="info">
                                <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>


                                <a href="{{ path('reservation_newhotel',{'hotel_id':1}) }}">
                                    <h3>{{ hotel.name }}</h3>
                                </a>
                            </div>
                        </figure>
                    </a>
                </div>
                {% elseif value==2 %}
                    {% set value = value + 1 %}
                <!-- /grid_item -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="hotel-detail.html" class="grid_item">
                        <figure>
                            <div class="score"><strong></strong></div>
                            <img src="{{ asset('picture/' ~ hotel.image) }}" width="130" height="130">
                            <div class="info">
                                <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>


                                <a href="{{ path('reservation_newhotel',{'hotel_id':1}) }}">
                                    <h3>{{ hotel.name }}</h3>
                                </a>
                            </div>
                        </figure>
                    </a>
                </div>
                {% elseif value==3 %}
                    {% set value = value + 1 %}
                <!-- /grid_item -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="hotel-detail.html" class="grid_item">
                        <figure>
                            <div class="score"><strong></strong></div>
                            <img src="{{ asset('picture/' ~ hotel.image) }}" width="130" height="130">
                            <div class="info">
                                <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>


                                <a href="{{ path('reservation_newhotel',{'hotel_id':1}) }}">
                                    <h3>{{ hotel.name }}</h3>
                                </a>
                            </div>
                        </figure>
                    </a>
                </div>
                    {% else %}
                {% endif %}
                <!-- /grid_item -->

            {% endfor %}
            </div>
            <!-- /row --> <a href="{{ path('list') }}">


                                <strong>View all (157) <i class="arrow_carrot-right"></i></strong></a>
        </section>
        <!-- /section -->

        <section class="add_bottom_45">
            <div class="main_title_3">
                <span><em></em></span>
                <h2>Transports</h2>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="restaurant-detail.html" class="grid_item">
                        <figure>
                            <div class="score"><strong>8.5</strong></div>
                            <img src="img/restaurant_1.jpg" class="img-fluid" alt="">
                            <div class="info">
                                <h3>Da Alfredo</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="restaurant-detail.html" class="grid_item">
                        <figure>
                            <div class="score"><strong>7.9</strong></div>
                            <img src="img/restaurant_2.jpg" class="img-fluid" alt="">
                            <div class="info">
                                <h3>Slow Food</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="restaurant-detail.html" class="grid_item">
                        <figure>
                            <div class="score"><strong>7.5</strong></div>
                            <img src="img/restaurant_3.jpg" class="img-fluid" alt="">
                            <div class="info">
                                <h3>Bella Napoli</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="restaurant-detail.html" class="grid_item">
                        <figure>
                            <div class="score"><strong>9.0</strong></div>
                            <img src="img/restaurant_4.jpg" class="img-fluid" alt="">
                            <div class="info">
                                <h3>Marcus</h3>
                            </div>
                        </figure>
                    </a>
                </div>
                <!-- /grid_item -->
            </div>
            <!-- /row -->
   <!-- /row --> <a href="{{ path('liste') }}">


                                <strong>View all (157) <i class="arrow_carrot-right"></i></strong></a>        </section>
        <!-- /section -->

        <!-- /banner -->

    </div>
    <!-- /container -->

    <!-- /bg_color_1 -->


    <!--/call_section-->
{% endblock %}
