



{% extends 'backoffice.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Voyage</h1>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Liste des reservations</li>
            </ol>
            <div class="box_general">
                <div class="header_box">
                    <h2 class="d-inline-block">Supression d'une reservations</h2>


                </div>
                <div class="list_general">
                    <ul>
                        <li>
                            <figure><img src="img/item_1.jpg" alt=""></figure>
                            <ul class="booking_list">
                                <li><strong>Hotel</strong> {{ reservation.hotel.nom}}</li>
                                <li><strong>Date debut</strong> {{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</li>
                                <li><strong>Date fin</strong> {{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</li>
                                <li><strong>Prix</strong>{{ reservation.prix }}</li>
                                <li><strong>Nombre d'adultes </strong>{{ reservation.nbadulte}}</li>
                                <li><strong>Nombre d'enfants </strong>{{ reservation.nbenfants}}</li>
                                {% if reservation.type=='reservation voyage'  %}
                                    <li><strong>Nom du voyage</strong> {{ reservation.voyage.ville}}</li>
                                    <li><strong>ville</strong> {{ reservation.voyage.nom}}</li>

                                {% endif %}

                            </ul>

                            {{ include('reservation/_delete_form.html.twig') }}


                        </li>

                    </ul>
                </div>
            </div>
            <!-- /box_general-->
        </div>
        <!-- /container-fluid-->
    </div>



{% endblock %}
