{% extends 'base.html.twig' %}

{% block title %}Paiement  étape 1{% endblock %}

{% block body %}


    <main>
        <div class="hero_in cart_section">
            <div class="wrapper">
                <div class="container">
                    <div class="bs-wizard clearfix">
                        <div class="bs-wizard-step active">
                            <div class="text-center bs-wizard-stepnum">Your cart</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#0" class="bs-wizard-dot"></a>
                        </div>

                        <div class="bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">Payment</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#0" class="bs-wizard-dot"></a>
                        </div>

                        <div class="bs-wizard-step disabled">
                            <div class="text-center bs-wizard-stepnum">Finish!</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#0" class="bs-wizard-dot"></a>
                        </div>
                    </div>
                    <!-- End bs-wizard -->
                </div>
            </div>
        </div>
        <!--/hero_in-->

        <div class="bg_color_1">


            <div class="container margin_60_35">
                <div class="row">
                    {% for message in app.flashes('info') %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="col-lg-8">
                        <div class="box_cart">
                            <table class="table table-striped cart-list">
                                <thead>
                                <tr>
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Discount
                                    </th>
                                    <th>
                                        Price
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="thumb_cart">
                                            <img src="http://via.placeholder.com/150x150/ccc/fff/thumb_cart_1.jpg" alt="Image">
                                        </div>
                                        <span class="item_cart">Hotel : {{ voy.hotel.nom }}
                                        <br>
                                            Prix du chambre :

                                        </span>

                                    </td>
                                    <td>
                                        0%
                                    </td>
                                    <td>
                                        <strong>{{ getChambreSinglePrixPerHotel.prix }} DT * {{ diff }} nuit(s)</strong>
                                    </td>


                                </tr>
                                <tr>
                                    <td>
                                        <div class="thumb_cart">
                                            <img src="http://via.placeholder.com/150x150/ccc/fff/thumb_cart_2.jpg" alt="Image">
                                        </div>
                                        <span class="item_cart">Prix Transport </span>
                                    </td>
                                    <td>
                                        0%
                                    </td>
                                    <td>
                                        <strong>{{ transport[0].prixLocation }} DT</strong>
                                    </td>


                                </tr>
                                <tr>
                                    <td>
                                        <div class="thumb_cart">
                                            <img src="http://via.placeholder.com/150x150/ccc/fff/thumb_cart_3.jpg" alt="Image">
                                        </div>
                                        <span class="item_cart">Prix d'inscription au voyage Par Personne</span>
                                    </td>
                                    <td>
                                        0%
                                    </td>
                                    <td>
                                        <strong>{{ voy.prix_personne }} * {{ nb }}</strong>
                                    </td>


                                </tr>

                                </tbody>
                            </table>

                            <!-- /cart-options -->
                        </div>
                    </div>
                    <!-- /col -->

                    <aside class="col-lg-4" id="sidebar">
                        <div class="box_detail">
                            <div id="total_cart">
                                Total <span class="float-right">{{ total }} DT</span>
                            </div>
                            <ul class="cart_details">
                                <li>Date debut <span>{{ voy.date_debut|date('Y-m-d') }}</span></li>
                                <li>Date fin <span>{{ voy.date_fin|date('Y-m-d') }}</span></li>
                                <li>Nombre de personne <span>{{ nb }}</span></li>

                            </ul>

                            {{ form_start(form) }}
                            <button type="submit"  class="btn_1 full-width purchase">Réserver</button>
                            {{ form_end(form) }}
                            <div class="text-center"><small>No money charged in this step</small></div>
                        </div>
                    </aside>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bg_color_1 -->
    </main>
    <!--/main-->


{% endblock %}

