{% extends 'backoffice.html.twig' %}
{% block title %}Paiement  étape 1{% endblock %}

{% block body %}


    <body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->

    <!-- /Navigation-->
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active"><icon class="checked" >paid Facture list </li>
            </ol>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <div class="box_general">
                    <div class="row">


                        <div class="col-sm-6">
                            <div class="box_general">
                                <div class="header_box">
                                    <h2 class="d-inline-block">Paid Facture list</h2>
                                    <div class="filter">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <form method="post" action="{{ path('SearchFacturePayee') }}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label><i class="fa fa-search"></i> Search </label>
                                        <input class="form-control" type="text" name="search" placeholder="Any infos...">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label> </label>
                                        <input type="submit" value="Search" class="btn-warning">

                                    </div>
                                </div>
                            </div>
                        </form>

                        <li><a href="{{ path('showFacture') }}" class="btn_1 gray delete"><i class="fa fa-fw fa-times-circle-o"></i> Return</a></li>
                        </ul>


                    </div>

                    {% for message in app.flashes('send') %}
                        <div class="alert-info" role="alert" style="font-size:150%;"  >
                            <svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"></use></svg>
                            {{message}} <a href="#" class ="mr-5" style="font-size:50%;"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    {% endfor %}
                    <div class="list_general">
                        {% for f in facture %}
                        <ul>

                            <li>


                                <h4>paid Facture <i class="approved"><i class="fa fa-fw fa-check-circle-o"></i>paid</i></h4>
                                <ul class="booking_list">
                                    <li><strong>Facture N: </strong> {{ f.getId() }}</li>
                                    <li><strong>ID Client:</strong> {{ f.getIdentifiant() }}</li>
                                    <li><strong>Totale £:</strong> {{ f.getMontant() }}</li>
                                    <li><strong>Payement Date:</strong> {{ f.getDatePaiement()|date('d-m-Y H:i:s') }}</li>
                                    <li><strong>Devise:</strong> {{ f.getDevise() }}</li>
                                    <li><strong>Means of payment:</strong> {{ f.getMoyenPaiement()}}</li>
                                    <li><strong>Payment Mode :</strong> {{ f.getModePaiement()}}</li>
                                    <li><strong>CB type:</strong> {{ f.getTypeCB()}}</li>
                                    <li><strong>CB N:</strong> {{ f.getNcb() }}</li>
                                    <li><strong>Security code:</strong> {{ f.getCodeSecurite() }}</li>
                                    <li><strong>End date:</strong> {{ f.getDateExpiration()|date('d-m-Y H:i:s') }}</li>
                                    <li><strong>Agency Location choosed :</strong> {{ f. getLocation()}}</li>
                                    <li><strong>Country :</strong> {{ f.getPays() }}</li>
                                </ul>

                                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                              <a href="{{ path('contact') }}" class="btn_1 gray"><i class="fa fa-fw fa-envelope"></i> Send Message</a>

                    </div>
                  </div>


                                     <div class="col-sm-6">
                                <div class="form-group">

                                    <a href="{{ path('pdf_facture',{'id':f.id}) }}" class="btn_1 gray delete"><i class="fa fa-fw fa-print"></i> Imprimer</a>


                                </div>
                            </div>


                </div>









                                <ul class="buttons">

                                </ul>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </table>
            <!-- /box_general-->

            <!-- /pagination-->
        </div>
        <!-- /container-fluid-->
    </div>
    <!-- /container-wrapper-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="vendor/jquery.selectbox-0.2.js"></script>
    <script src="vendor/retina-replace.min.js"></script>
    <script src="vendor/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/admin.js"></script>

    </body>



{% endblock %}