{% extends 'backoffice.html.twig' %}

{% block title %}Liste Voyage {% endblock %}

{% block body %}
    {% set queryParams = app.request.query.all %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Liste des voyages</div>
                <div class="card-body">

                    <td> <a href="{{ path('voyage_new') }}" class="btn_1 black approve">Ajouter un voyage</a></td>
<br/>
                    <br/>
                    <div class="container">
Filtrer par :
                        <form id="filters">
                            <select name="ville" id="ville">
                                <option value="">--Sélectionner une ville--</option>
                                {% for db in villes  %}
                                    <option value="{{ db.ville }}">{{ db.ville }}</option>
                                {%  endfor %}
                            </select>

                            <select name="datedebut" id="datedebut">
                                <option value="" class="dropdown-item">--Sélectionner une date début--</option>
                                    {% for db in datedeb  %}
                                <option value="{{ db['wiw'] }}">{{ db['wiw'] }}</option>
                                    {%  endfor %}
                            </select>


                            <select name="datefin" id="datefin">
                                <option value="">--Sélectionner une date fin --</option>
                                {% for db in datefin  %}
                                    <option value="{{ db['wiw'] }}">{{ db['wiw'] }}</option>
                                {%  endfor %}
                            </select>

                            <input type="hidden" name="page" value="{{page}}">
                        </form>
                    </div>
                    <br/><br/>
                    <div id="content">
                        {% include "voyage/content.html.twig" %}
                    </div>


                </div>
            </div>
            <!-- /tables-->
        </div>
        <!-- /container-fluid-->
    </div>
    <!-- /container-wrapper-->


                <script>
                window.onload = () => {
                const FiltersForm = document.querySelector("#filters");

                // On boucle sur les input
                document.querySelectorAll("#filters select").forEach(input => {
                input.addEventListener("change", () =>
                {
                console.log("key")
                // Ici on intercepte les clics
                // On récupère les données du formulaire
                const Form = new FormData(FiltersForm);
                const Params = new URLSearchParams();

                Form.forEach((value, key) => {
                Params.append(key, value);
                });
                const Url = new URL(window.location.href);
                // On lance la requête ajax
                fetch(Url.pathname + "?" + Params.toString() + "&ajax=1", {
                headers: {
                "X-Requested-With": "XMLHttpRequest"
                }
                }).then(response =>
                response.json()

                ).then(data => {
                // On va chercher la zone de contenu
                const content = document.querySelector("#content");

                // On remplace le contenu
                content.innerHTML = data.content;

                // On met à jour l'url
                history.pushState({}, null, Url.pathname + "?" + Params.toString());
                }).catch(e => alert(e),
                console.log("tets")
                );

                });
                });


                }
                </script>
{% endblock %}
