{% extends 'backoffice.html.twig' %}

{% block title %}Liste Voyage {% endblock %}

{% block body %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Liste des voyages</div>
                <div class="card-body">

                    <td> <a href="{{ path('voyage_new') }}" class="btn_1 black approve">Ajouter un voyage</a></td>

                    <div class="embed-responsive">
                        {{ form_start(form) }}
                        {{ form_widget(form.ville) }}
                         {{ form_widget(form.date_debut) }}
                        {{ form_widget(form.date_fin) }}
                        <input type="hidden" name="page" value="{{page}}">

                    {{ form_end(form) }}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>nom</th>
                                <th>ville</th>
                                <th>description</th>
                                <th>date debut</th>
                                <th>date fin</th>
                                <th>prix personne</th>
                                <th>nombre de personnes</th>
                                <th>Photo</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                {% for i in voyages %}
                                <td>{{ i.nom }}</td>
                                <td>{{ i.ville }}</td>
                                <td>{{ i.description }}</td>
                                <td>{{ i.datedebut |date('d-m-Y')}}</td>
                                <td>{{ i.datefin|date('d-m-Y ') }}</td>
                                <td>{{ i.prixpersonne }}</td>
                                <td>{{ i.nbpersonne }}</td>
                                <td> <img src="{{ asset('uploads/')~ i.image }}" width="200px" height="200px"></td>
                                <td> <a href="{{ path('voyage_edit', {'id': i.id },'/edit') }}" class="btn_1 gray approve">Update</a></td>
                                <td> <a href="{{ path('voyage_delete', {'id': i.id }) }}" class="btn_1 gray delete">Delete </a></td>

                            </tr>

                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /tables-->
        </div>
        <!-- /container-fluid-->
    </div>
    <!-- /container-wrapper-->



    <script>
        window.onload = () => {
            const FiltersForm = document.querySelector("#filters");

            // On boucle sur les input
            document.querySelectorAll("#filters select").forEach(input => {
                input.addEventListener("change", () =>
                {
                    const Form = new FormData(FiltersForm);

                    // On fabrique la "queryString"
                    const Params = new URLSearchParams();

                    Form.forEach((value, key) => {
                        //Params.append(key, value);
                        console.log(key," ", value)
                    });


                });
            });


        }
    </script>
{% endblock %}
