{% extends 'backoffice.html.twig' %}

{% block title %} Ajout!{% endblock %}


{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <style>
        .custom-file-input {
            opacity: 1;
        }
        .modal-backdrop {
            /* bug fix - no overlay */
            display: none;
            background-color: #000;
        }
    </style>


    <!-- /Navigation-->
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Add listing</li>
            </ol>




            <div class="box_general padding_bottom" height="1500px">
                <div class="header_box version_2" >
                    <h2><i class="fa fa-file"></i>Ajouter un voyage</h2>
                </div>




                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="form-group">

                    {{ form_label(form.ville) }}
                    {{ form_widget(form.ville) }}
                </div>

    <div class="form-group">

                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
    </div>



    <div class="form-group">

                    {{ form_label(form.date_debut) }}
                    {{ form_widget(form.date_debut) }}
    </div>

    <div class="form-group">

                    {{ form_label(form.date_fin) }}
                    {{ form_widget(form.date_fin) }}
    </div>

    <div class="form-group">

                    {{ form_label(form.prixPersonne) }}
                    {{ form_widget(form.prixPersonne) }}
    </div>

    <div class="form-group">

                    {{ form_label(form.nb_personne) }}
                    {{ form_widget(form.nb_personne) }}
    </div>

                <div class="form-group">

                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}
                </div>

                <div class="form-group">

                    {{ form_label(form.hotel) }}
                    {{ form_widget(form.hotel) }}
                </div>

                <div class="form-group">

                    {{ form_label(form.transport) }}
                    {{ form_widget(form.transport) }}


                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-sm ">
                            <label>  Place 1</label>
                            <input type="text" id="place1" name="place1">

                            <label>  atitude</label>
                            <input type="text" id="att1" name="att1">

                            <label>  longitude</label>
                            <input type="text" id="long1" name="long1">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label>  Place 2</label>
                            <input type="text" id="place2" name="place2">
                            <label>  atitude</label>

                            <input type="text" id="att2" name="att2">
                            <label>  longitude</label>

                            <input type="text" id="long2" name="long2">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label>  Place 3</label>
                            <input type="text" id="place3" name="place3">
                            <label>  atitude</label>

                            <input type="text" id="att3" name="att3">
                            <label>  longitude</label>

                            <input type="text" id="long3" name="long3">
                        </div>

                    </div>

                </div>
            </div>




            <!-- /box_general-->
            <button type="submit" class="btn_1 medium" >Sauvegarder</button>
            {{ form_end(form) }}

        </div>
        <!-- /.container-fluid-->
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}