{% extends 'backoffice.html.twig' %}

{% block title %} Ajout!{% endblock %}


{% block body %}
    <style>
        .custom-file-input {
            opacity: 1;
        }
    </style>
    <!-- /Navigation-->
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Add listing</li>
            </ol>
            <div class="box_general padding_bottom" height="1500px">
                <div class="header_box version_2" >
                    <h2><i class="fa fa-file"></i>Basic info</h2>
                </div>

                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

                        <div class="form-group">
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom) }}

                            {{ form_label(form.ville) }}
                            {{ form_widget(form.ville) }}

                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}



                            {{ form_label(form.date_debut) }}
                            {{ form_widget(form.date_debut) }}

                            {{ form_label(form.date_fin) }}
                            {{ form_widget(form.date_fin) }}

                            {{ form_label(form.prixPersonne) }}
                            {{ form_widget(form.prixPersonne) }}

                            {{ form_label(form.nb_personne) }}
                            {{ form_widget(form.nb_personne) }}

                            {{ form_label(form.image) }}
                            {{ form_widget(form.image) }}
                            

                        </div>

                <!-- /row-->



            </div>



            <!-- /box_general-->
            <button type="submit" class="btn_1 medium" >Sauvegarder</button>
{{ form_end(form) }}

        </div>
        <!-- /.container-fluid-->
    </div>
{% endblock %}
